硬件综合设计.lnk
*.cache
*.hw
*.runs
*.sim
*.ip_user_files
*.jou
*.log
*.str
/funcTest_independent
*.py
input.txt
test.coe
data_ram
inst_ram
*.xpr
*.wcfg
*.jpg
*.xlsx
*zzj.txt
*.url
test_cpu_only.v
old_top.v
*.mif
data_ram.*
inst_ram.*
main.*
test.s
/soc_axi_test/soc_axi_test.srcs/sources_1/ip
mycpu_tb.v